.notes-index {
    background-color: #f8f8f8;
    width: 250px;
    color: #333333;
    text-decoration: none;
    height: 100vh;

    a {
        color: #333333;
        text-decoration: none;
    }
}