.notes-index {
    background-color: #f8f8f8;
    color: #333333;
    text-decoration: none;
    height: 100vh;
    width: 350px;
    display: flex;
    flex-direction: column;


    .notes-index-header {
        flex: 0 1 auto;
        border-bottom: 1px solid #e6e6e6;
        height: auto;

        .notes-index-header-title {
            height: 99px;
        }
        
        .notes-index-header-section-1 {
            padding: 22px 22px 22px 0px;
            display: flex;
            align-items: center;

            .notes-index-header-notebook-name {
                padding-left: 5px;
                font-size: 20px;
                letter-spacing: 2px;
            }
        }

        .notes-index-header-2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 25px 25px 25px;
            font-size: 14px;
            color: #666666;

            .filter-tag-button {
                padding: 5px;
                border-radius: 5px;

                &:hover {
                    cursor: pointer;
                    background-color: #e6e6e6;
                }
            }

        }
    }

    .notes-index-tags {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;

        .notes-index-tag {
            button{
                border-radius: 20px;
                padding: 5px;
                margin: 5px;
            }
        }

        .notes-index-tag.selected{
            button{
                background-color: lightblue;
            }
        }
    }

    .notes-index-content {
        height: auto;
        overflow-y:auto;
    }


    ul {
        list-style-type: none;

        li{
            display: flex;
            flex-direction: column;
            height: 125px;
            padding: 20px;
            border-bottom: 1px solid #e6e6e6;

            .notes-index-item-title {
                color: #666666;
                padding-bottom: 5px;
            }

            .notes-index-item-body {
                color: #666666;
                font-size: 14px;
                flex-grow: 3;

            }

            .notes-index-item-footer {
                display:flex;
                align-items: center;

                .notes-index-item-time {
                    color: #666666;
                    font-size: 12px;
                }

                .notes-index-item-tags {
                    display:flex;

                    .notes-index-item-tag {
                        font-size: 12px;
                        background-color: lightgray;
                        border-radius: 10px;
                        padding: 0px 5px 0px 5px;
                        margin: 0px 5px 0px 5px;
                    }
                }
            }
        }

        li:hover {
                background-color:  #ffffff;

        }
    
        

    }

    a {
        color: #333333;
        text-decoration: none;
    }
}

