// Place all the styles related to the API::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-form-background {
    background: image-url('pattern.png');
    border:none;
    margin: 0;
    padding: 0;
    height: 100vh;
    min-width: 100%;
}