// Place all the styles related to the SideNav component here
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.side-nav {
    background-color: #1a1a1a;
    width: 250px;
    color: #a6a6a6;
    text-decoration: none;
    height: 100vh;
    padding: 20px;

    ul {
        list-style-type: none;
    }

    a {
        color: #a6a6a6;
        text-decoration: none;
    }
    .new-note {
        background-color: #00a82d;
        border-radius: 15px;
        width: 100%;
        padding: 5px;
        margin: 5px;

        a {
            color: white;

        }
    }
}
