// Place all the styles related to the SideNav component here
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.side-nav {
    background-color: #1a1a1a;
    width: 240px;
    color: #a6a6a6;
    text-decoration: none;
    height: 100vh;

    .side-nav-user {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .side-nav-user-icon {
        background-image: linear-gradient(#45d959, #253f0f);
        border-radius: 50%;
        box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
        height: 35px;
        width: 35px;
        font-size: 30px;
        text-align: center;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(0, 0, 0);
        font-family: "Georgia", Times, serif;
        font-weight: 700;
        text-transform: uppercase;
        margin: 5px;
    }
    .side-nav-user-email {
        width: 100px;
        font-size: 14px;
        color: #a6a6a6;
        margin: 5px;
    }

    ul {
        list-style-type: none;
    }

    a {
        color: #a6a6a6;
        text-decoration: none;
    }
    .new-note {
        background-color: #00a82d;
        border-radius: 20px;
        width: 90%;
        height: 35px;
        margin: 10px 10px 10px 10px;
        border: none;
        color: white;
        font-size: 14px;
        text-align: left;
        display: flex;
        align-items: center;
        cursor: pointer;
        

        .plus-icon {
            margin: 10px;
            font-size: 30px;
        }

        &:hover {
            background-color: #008f26
        }
    }
    
    .side-nav-list {

        li {
            padding-left: 15px;
            padding: 7px 10px 7px 20px;
            
            &:hover{
                background-color: darkslategrey;
            }
        }
    }
}
